/*===========================================================================================
	LAYOUT
===========================================================================================*/
body {
	font-size: 14px;
	line-height: 1.5;
	font-family: $arial;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	min-height: 100px;
}
h1 {
	font: 2em/2em $arial;
}
h2 {
	font: 1.8em/1.8em $arial;
}
h3 {
	font: 1.6em/1.6em $arial;
}
h4 {
	font: 1.4em/1.4em $arial;
}
h5 {
	font: 1.2em/1.2em $arial;
}
h6 {
	font: 1em/1em $arial;
	font-weight: bold;
}
p {
	font: 1em/1.25em $arial;
}
ul {
	li {
		font: 1em/1.5em $arial;
	}
}
a {
	color: $link;
	&:hover, &:active {
		color: $body_text;
	}
}
.button {
	text-align: center;
	border-radius: 7px;
	border: 5px solid $white;
	padding: 18px 50px;
	color: $white;
	background: $black;
	text-transform: uppercase;
	&:hover {
		color: $white;
	}
}
.select_it {
	margin: 0 10%;
	float: left;
	position: relative;
	.select_it_box {
		background: #FFFFFF;
		width: 89%;
		padding: 5%;
		color: #666666;
		cursor: pointer;
		border: 1px solid #c8c8c8;
		.displayed {

		}
		.tab {

		}
	}
	ul {
		background: #FFFFFF;
		position: absolute;
		z-index: 9999;
		width: 100%;
		margin: -1px 0 0;
		padding: 0;
		color: #666666;
		box-sizing: border-box;
		border-top: none;
		border-left: 1px solid #c8c8c8;
		border-right: 1px solid #c8c8c8;
		border-bottom: 1px solid #c8c8c8;
		list-style: none inside none;
		max-height: 125px;
		overflow: scroll;
		li {
			width: 90%;
			padding: 0 5%;
			cursor: pointer;
			&:hover {
				background: #666666;
				color: #FFFFFF;
			}
		}
	}
}
.addthis_toolbox {
	a {
		display: block;
		float: left;
		width: 16.66%;
		height: 30px;
		.icon {
			@include vendorize(transition, all .15s ease-in);
			width: 50%;
			float: right;
			margin: 5px 5% 5px 0;
			display: block;
			font: 20px/20px $fa;
			color: $white;
		}
		&:hover {
			.icon {
				margin: 5px 25% 5px 0;
			}
		}
	}
	.addthis_button_email {
		background: $pinterest;
	}
	.addthis_button_facebook {
		background: $facebook_blue;
	}
	.addthis_button_twitter {
		background: $twitter_blue;
	}
	.addthis_button_google_plusone_share {
		background: $black;
	}
	.addthis_button_linkedin {
		background: $linkedin;
	}
	.addthis_button_compact {
		background: $addthis;
	}
}
/*===========================================================================================
	CONTACT FORM
===========================================================================================*/
.contact_form {
	width: 100%;
	float: left;
	label {
		position: absolute;
		font: 12px/14px $arial;
		color: #bebebe;
		top: 10px;
		left: 7%;
		height: 0;
		@include vendorize(transition, all .25s ease-in);
		&.show {
			top: -22px;
			left: 0;
			height: auto;
			background: $black;
			color: $white;
			padding: 0 10px;
			border-radius: 4px 4px 0 0;
			font: 12px/12px $arial;
		}
	}
	.block {
		position: relative;
		margin: 0 0 15px;
		input[type=text], input[type=email], input[type=number], input[type=tel], select, textarea {
			width: 100%;
			resize: none;
			border: 0;
			background: $white;
			padding: 10px;
			vertical-align: middle;
			margin: 0;
			font: normal 11px/20px $arial;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			&:focus {
				outline: none;
				box-shadow: 0px 0px 1px 2px $black;
			}
		}
		textarea {
			resize: none;
		}
		&.omit {
			label {
				position: relative;
				top: auto;
				left: auto;
				height: auto;
			}
		}
	}
	.thirds {
		width: 100%;
		float: left;
		.block {
			width: 31%;
			margin: 0 1%;

		}
	}
	.button {
		outline: none;
		border: none;
		padding: 10px 25px;
		text-transform: uppercase;
		font-style: normal;
		letter-spacing: 1px;
		&:focus {
			outline: none;
			box-shadow: 0px 0px 1px 2px $black;
		}
	}
}
.jquery-filestyle {
	width: 100%;
	float: left;
	display: block !important;
	margin: 0 0 10px;
	input[type=text] {
		float: right;
		background: $white;
		height: auto;
		padding: 6px;
		border: none;
		font: 12px/16px $arial;
	}
	label {
		cursor: pointer;
		width: 22%;
		float: left;
		background: $black;
		color: $white;
		padding: 0 5%;
		line-height: 29px;
	}
}
/*===========================================================================================
	BLOCKS - GENERAL RULES
===========================================================================================*/
.block {
	width: 100%;
	float: left;
	&.inline_block {
		text-align: center;
		.fifth, .quarter, .third, .two_fifths, .half, .three_fifths, .two_thirds, .three_quarters, .four_fifths {
			float: none;
			display: inline-block;
			.text {
				text-align: left;
			}
		}
	}
	&.left {
		.fifth, .quarter, .third, .two_fifths, .half, .three_fifths, .two_thirds, .three_quarters, .four_fifths {
			float: left;
		}
	}
	&.right {
		.fifth, .quarter, .third, .two_fifths, .half, .three_fifths, .two_thirds, .three_quarters, .four_fifths {
			float: right;
		}
	}
	.fifth, .quarter, .third, .two_fifths, .half, .three_fifths, .two_thirds, .three_quarters, .four_fifths {
		&.left {
			float: left;
		}
		&.right {
			float: right;
		}
		.text {
			margin: 0 2%;
			width: 96%;
		}
		.image {
			margin: 0 2%;
			width: 96%;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	.fifth { width: 20%; }
	.quarter { width: 25%; }
	.third { width: 30%; }
	.two_fifths { width: 40%; }
	.half { width: 50%; }
	.three_fifths { width: 60%; }
	.two_thirds { width: 70%;}
	.three_quarters { width: 75%; }
	.four_fifths { width: 80%; }
	header {
		width: 90%;
		margin: 0 5%;
	}
}